.jumbotron {     
    background-color: #a1d6d0; 
    padding: 0.5em 0.6em; 
    color : #ffffff;   
    padding: 20px;
    font-family: 'Varela Round', sans-serif;
    }
    
.jumbotron h1 {
        font-weight: 900;
        
    }

    /*for button gradient style*/
    .btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    }
     
    .btn:focus, .btn:active:focus, .btn.active:focus {
        outline: 0 none;
    }
     
    .btn-primary {
        background: #0099cc;
        color: #ffffff;
    }
     
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        background: #33a6cc;
    }
     
    .btn-primary:active, .btn-primary.active {
        background: #007299;
        box-shadow: none;
    }

    
   /*button gradient style end*/ 


    .control-group {
        margin-top: 20px;
        text-align: center;
    }
   